python-terrier
pyserini
ir-measures
ir-datasets
transformers
torch
torchvision
accelerate
bitsandbytes
sentencepiece
tqdm
pandas
numpy
scipy
statsmodels
# Windows/AMD GPU only (DirectML backend):
# torch-directml
